@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --scrollbar-track: 220 14% 95%;
    --scrollbar-thumb: 220 10% 80%;
    --scrollbar-thumb-hover: 220 15% 70%;
    --radius: 0.5rem;
    --header: 210 20% 98%;
    --header-height: 4.375rem;
    --text-highlight: 54 100% 60%;
  }

  .dark {
    /* --background: 224 71.4% 4.1%; */
    /* --foreground: 210 20% 98%; */
    --background: 228 60% 8%;
    --foreground: 240 5% 84%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 240 5% 84%;
    --popover: 231 29% 15%;
    --popover-foreground: 240 5% 84%;
    --primary: 262 60% 55%;
    --primary-foreground: 220 14% 95%;
    --secondary: 231 29% 15%;
    --secondary-foreground: 240 5% 84%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 231 29% 15%;
    --accent-foreground: 240 5% 84%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 240 5% 84%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --scrollbar-track: 215 25% 12%;
    --scrollbar-thumb: 220 15% 35%;
    --scrollbar-thumb-hover: 220 20% 45%;
    --ring: 263.4 70% 50.4%;
    --header: 222 49.4% 12.2%;
    --text-highlight: 48 97% 59%;
  }
}

@layer base {
  * {
    @apply m-0 p-0 box-border border-border scroll-smooth;
  }

  ::selection {
    @apply !bg-primary/30 dark:!bg-primary/40;
  }

  body {
    @apply min-h-screen font-inter font-normal text-foreground bg-background;
  }

  section {
    @apply py-20 px-[6vw] md:px-[7vw] lg:px-[10vw];
  }
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .navbar {
    @apply w-full h-[var(--header-height)] fixed top-0 z-50 flex items-center px-[5vw] py-4 border-b border-border bg-header;
  }

  /* SHADCN COMPONENTS */
  .shad-input {
    @apply h-12 bg-muted border placeholder:text-muted-foreground focus-visible:ring-1 focus-visible:ring-offset-1 ring-offset-accent !important;
  }

  .shad-form_message {
    @apply text-destructive !important;
  }

  .shad-textarea {
    @apply h-32 bg-muted rounded-xl border focus-visible:ring-1 focus-visible:ring-offset-1 ring-offset-accent !important;
  }
}

@layer utilities {
  /* TYPOGRAPHY */
  .h1-bold {
    @apply text-[1.875rem] md:text-[2.25rem] font-bold leading-[140%] tracking-tight; /* 30px -> 1.875rem, 36px -> 2.25rem */
  }

  .h1-semibold {
    @apply text-[1.875rem] md:text-[2.25rem] font-semibold leading-[140%] tracking-tight;
  }

  .h1-medium {
    @apply text-[1.875rem] md:text-[2.25rem] font-medium leading-[140%] tracking-tight;
  }

  .h2-bold {
    @apply text-[1.75rem] md:text-[1.875rem] font-bold leading-[140%] tracking-tight; /* 28px -> 1.75rem, 30px -> 1.875rem */
  }

  .h2-semibold {
    @apply text-[1.75rem] md:text-[1.875rem] font-semibold leading-[140%] tracking-normal;
  }

  .h3-bold {
    @apply text-[1.5rem] font-bold leading-snug tracking-tight; /* 24px -> 1.5rem */
  }

  .base-semibold {
    @apply text-[1rem] font-semibold leading-[140%] tracking-tight; /* 16px -> 1rem */
  }

  .base-medium {
    @apply text-[1rem] font-medium leading-[140%];
  }

  .base-regular {
    @apply text-[1rem] font-normal leading-[140%];
  }

  .body-bold {
    @apply text-[1.125rem] font-bold leading-[140%]; /* 18px -> 1.125rem */
  }

  .body-medium {
    @apply text-[1.125rem] font-medium leading-[140%];
  }

  .small-semibold {
    @apply text-[0.875rem] font-semibold leading-[140%] tracking-tight; /* 14px -> 0.875rem */
  }

  .small-medium {
    @apply text-[0.875rem] font-medium leading-[140%];
  }

  .small-regular {
    @apply text-[0.875rem] font-normal leading-[140%];
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .hide {
    @apply opacity-0 pointer-events-none duration-100;
  }

  .show {
    @apply opacity-100 pointer-events-auto;
  }

  .h-cover {
    @apply min-h-[calc(100vh-var(--header-height))];
  }

  .input-icon {
    @apply absolute top-1/2 -translate-y-1/2 text-muted-foreground;
  }

  .input-box {
    @apply w-[100%] rounded-md p-2 border border-border focus-visible:ring-1 focus-visible:ring-offset-1 ring-offset-accent !important;
  }

  .center {
    @apply block mx-auto;
  }

  .sidebar-link {
    @apply flex gap-4 items-center py-2 md:py-5 pb-5 capitalize text-nowrap px-6 -ml-6;
  }

  .sidebar-link.active {
    @apply border-r-2 max-md:border-none border-muted-foreground bg-header px-6 -ml-6 md:rounded-tl-lg md:rounded-bl-lg;
  }

  .underline-link {
    @apply text-blue-500 underline;
  }

  /* File uploader */
  .cover-img {
    @apply aspect-video w-full h-full rounded-lg object-cover border-[1px] border-border;
  }

  .file_uploader-label {
    @apply text-muted-foreground text-center small-regular w-full p-2 border-t border-t-border;
  }

  .file_uploader-box {
    @apply flex-center flex-col gap-2 p-7 h-20 sm:h-40 border-b border-border mt-4;
  }

  /* Text Editor */
  #text-editor *,
  .blog-page-content * {
    @apply text-lg lg:text-xl leading-normal lg:leading-relaxed;
  }

  /* h1: 30px → 36px */
  #text-editor h1,
  .blog-page-content h1 {
    @apply text-[1.875rem] md:text-[2.25rem] font-semibold leading-[120%] md:leading-[125%] tracking-tight;
  }

  /* h2: 28px → 30px */
  #text-editor h2,
  .blog-page-content h2 {
    @apply text-[1.75rem] md:text-[1.875rem] font-semibold leading-[125%] md:leading-[130%] tracking-tight;
  }

  /* h3: 24px → 28px */
  #text-editor h3,
  .blog-page-content h3 {
    @apply text-[1.5rem] md:text-[1.75rem] font-semibold leading-[130%] md:leading-[135%] tracking-normal;
  }

  /* h4: 20px → 24px */
  #text-editor h4,
  .blog-page-content h4 {
    @apply text-[1.25rem] md:text-[1.5rem] font-semibold leading-[135%] md:leading-[140%] tracking-normal;
  }

  /* h5: 18px → 20px */
  #text-editor h5,
  .blog-page-content h5 {
    @apply text-[1.125rem] md:text-[1.25rem] font-semibold leading-[140%] md:leading-[145%] tracking-wide;
  }

  /* h6: 16px → 18px */
  #text-editor h6,
  .blog-page-content h6 {
    @apply text-base md:text-lg font-semibold leading-[145%] md:leading-[150%] tracking-wide;
  }

  #text-editor a,
  .blog-page-content a {
    @apply underline font-medium;
  }

  #text-editor img {
    @apply aspect-video rounded-lg object-cover;
  }

  #text-editor ol {
    @apply [&>li::before]:tabular-nums;
  }

  .blog-title {
    @apply font-semibold text-base md:text-lg 2xl:text-xl line-clamp-3 my-2 text-foreground;
  }

  .draft-badge {
    @apply px-2 py-0.5 text-sm md:text-base font-medium bg-yellow-200 text-yellow-800 rounded-md dark:bg-yellow-800 dark:text-yellow-50;
  }

  .code-block pre,
  .code-block * {
    @apply text-base md:text-lg leading-6 md:leading-7;
  }

  .divider {
    @apply my-1 md:my-3 border border-border;
  }

  /* editor guide page */
  .documentation {
    @apply text-base lg:text-lg leading-6 lg:leading-7 dark:text-[rgb(212_212_216)];
  }

  .documentation code {
    @apply font-mono bg-header/70 border-border border-[1px] px-1.5 py-0.5 rounded text-sm;
  }

  .documentation ul {
    @apply list-disc pl-4 md:pl-6 my-1;
  }

  .documentation ul li {
    @apply mt-2;
  }

  .documentation ol {
    @apply list-decimal pl-6;
  }
  .documentation hr {
    @apply my-1 border-[0.8px] border-border;
  }

  .documentation .checklist {
    @apply list-none pl-0;
  }

  .documentation .checklist li::before {
    content: "⬜️";
    @apply mr-2;
  }
  .documentation .checklist li.checked::before {
    content: "✅";
  }

  .documentation img {
    @apply object-cover border-[0.8px] border-border rounded-md;
  }
}

.blog-page-content ol {
  counter-reset: list-counter;
}

.blog-page-content ol li {
  counter-increment: list-counter;
}

.blog-page-content ol li::before {
  content: counters(list-counter, ".") ". ";
  font-variant-numeric: tabular-nums;
}

.ce-block__content,
.ce-toolbar__content {
  max-width: 900px;
}
.ce-popover {
  overflow-y: auto !important;
}

.ce-popover *,
.ce-conversion-toolbar * {
  font-size: 1rem !important;
  line-height: 24px !important;
  font-weight: 500 !important;
}

.ce-conversion-toolbar {
  min-width: 200px !important;
}

.ce-inline-toolbar__dropdown:hover,
.ce-inline-tool:hover,
.ce-popover-item:hover,
.ce-toolbar__plus:hover,
.ce-conversion-tool:hover,
.ce-toolbar__settings-btn:hover {
  background-color: hsl(var(--input)) !important;
}

.ce-conversion-toolbar,
.ce-conversion-tool,
.ce-conversion-tool__icon,
.ce-popover-item__icon,
.ce-inline-tool-input,
.cdx-search-field,
.ce-popover,
.image-tool .cdx-button,
.ce-inline-toolbar {
  background-color: hsl(var(--header)) !important;
}

.ce-inline-toolbar {
  padding: 2px 5px !important;
}

.ce-inline-toolbar__buttons button {
  margin-left: 5px !important;
}

.ce-popover-item {
  color: hsl(var(--foreground)) !important;
}

.ce-popover-item--confirmation:hover {
  background-color: hsl(var(--destructive)) !important;
}

.cdx-list {
  padding-left: 0 !important;
}
.cdx-list__item-children {
  padding-left: 0.625rem !important;
}

.inline-code {
  background-color: hsl(var(--input)) !important;
  /* color: hsl(var(--foreground)) !important; */
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace !important;
  font-size: medium !important;
  border: none !important;
}

.editorjs-codeCup_Wrapper,
.editorjs-codeCup_Editor,
.codecup__textarea,
.codecup__pre,
.codecup__code,
.codecup__code *,
.editorjs-codeCup_LangDisplay,
.codecup__lines__line,
.codecup__copyMessage {
  font-size: 1rem !important;
  line-height: 24px !important;
}

.editorjs-codeCup_Wrapper {
  background-color: hsl(var(--input)) !important;
  color: hsl(var(--foreground)) !important;
  border: 1px solid hsl(var(--border)) !important;
  overflow: hidden !important;
}

.codecup {
  background-color: inherit !important;
  color: inherit !important;
}

.codecup__textarea {
  color: transparent !important;
  caret-color: hsl(var(--foreground)) !important;
}

.codecup__code {
  white-space: pre !important;
}

.codecup,
.codecup__textarea,
.codecup__pre,
.codecup__code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace !important;
}

.codecup__lines {
  background-color: hsl(var(--scrollbar-track)) !important;
  color: hsl(var(--scrollbar-thumb-hover)) !important;
  border: 0.8px solid hsl(var(--border)) !important;
  z-index: 10 !important;
}

.codecup.codecup--has-line-numbers:before {
  background-color: hsl(var(--scrollbar-track)) !important;
}

.editorjs-codeCup_LangDisplay {
  background-color: hsla(var(--header) / 0.8) !important;
  color: hsl(var(--foreground)) !important;
  position: absolute !important;
  top: 0.1rem !important;
  right: 1rem !important;
  z-index: 5 !important;
  height: 1.5rem !important;
  padding: 5px !important;
  margin-right: 1rem !important;
  border: 1px solid hsl(var(--muted-foreground) / 0.2) !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

@media (max-width: 768px) {
  .editorjs-codeCup_LangDisplay {
    top: auto !important;
    bottom: 0 !important;
    right: 0.5rem !important;
    padding: 2px !important;
    margin-right: 0 !important;
    font-size: 0.875rem !important;
  }
}

.codecup__copyButton {
  background-color: hsl(var(--scrollbar-track)) !important;
  color: hsl(var(--scrollbar-thumb-hover)) !important;
}

.codecup__copyMessage {
  top: 2rem !important;
  background-color: hsl(var(--scrollbar-track)) !important;
  color: hsl(var(--foreground)) !important;
  font-size: 0.9rem !important;
}

@media (max-width: 768px) {
  .codecup__copyMessage {
    top: 5px !important;
    font-size: 0.8rem !important;
  }
}

.editorjs-codeCup_languageSelectContainer .ce-popover-item__icon svg * {
  stroke: hsl(var(--foreground)) !important;
}

.editorjs-codeCup_languageDropdown {
  background-color: hsl(var(--header)) !important;
  color: hsl(var(--foreground)) !important;
  position: absolute !important;
  top: 100% !important;
  left: 0 !important;
}

.editorjs-codeCup_languageOption {
  border-bottom: none !important;
  padding: 4px 3px !important;
}

.editorjs-codeCup_languageOption:hover {
  background-color: hsl(var(--input)) !important;
}

.cdx-marker {
  background-color: hsl(var(--text-highlight)) !important;
}

.ce-toolbar__actions {
  gap: 0.3rem;
}

.ce-toolbar__plus,
.ce-toolbar__settings-btn {
  background-color: hsl(var(--header)) !important;
  color: hsl(var(--foreground)) !important;
  border: 1px solid hsl(var(--muted-foreground));
}

@media (max-width: 768px) {
  .ce-toolbar__plus,
  .ce-toolbar__settings-btn {
    width: 1.845rem !important;
    height: 1.845rem !important;
  }
}

.ce-block--selected .ce-block__content {
  background-color: hsl(var(--input)) !important;
}

.cdx-settings-button[data-tune="withBorder"],
.cdx-settings-button[data-tune="withBackground"],
.cdx-settings-button[data-tune="stretched"] {
  display: none;
}

.cdx-quote__caption span {
  background-color: hsl(var(--primary)) !important;
  color: hsl(var(--foreground)) !important;
  opacity: 60%;
}

/* 
   Ensures the placeholder text appears inside empty header blocks 
   while maintaining EditorJS's default styling.
*/
.ce-header[data-placeholder]:empty::after {
  display: block;
  content: attr(data-placeholder);
  opacity: 0.4;
  font-weight: initial;
  pointer-events: none;
}

/* Hides any default placeholder behavior added by EditorJS to avoid duplication. */
.ce-header[data-placeholder]:empty::before {
  display: none !important;
}

.cdx-notify {
  display: none !important;
}

.cdx-input {
  padding: 8px !important;
}

.ce-paragraph[data-placeholder-active]::before {
  color: hsl(var(--muted-foreground));
  opacity: 0.7;
}

.image-tool--uploading .image-tool__image {
  width: 21.87rem;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid hsl(var(--border)) !important;
}

.image-tool--withBackground .image-tool__image {
  border: 1px solid hsl(var(--border)) !important;
}

.image-tool__caption {
  margin-bottom: 0px !important;
}
@media (max-width: 768px) {
  .image-tool__caption {
    margin-bottom: 12px !important;
  }
}

.image-tool .cdx-button,
.image-tool--uploading .image-tool__image,
.image-tool--withBackground .image-tool__image,
.image-tool__caption {
  background: hsl(var(--input)) !important;
}

@keyframes heart-bounce {
  40% {
    transform: scale(1.1);
  }
  0%,
  80%,
  100% {
    transform: scale(1);
  }
}

.like-animation {
  animation: heart-bounce 0.4s ease-in-out;
}

/* WebKit Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: hsl(var(--scrollbar-track));
  border: 1px solid hsl(var(--popover));
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--scrollbar-thumb));
  border: 1px solid hsl(var(--popover));
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--scrollbar-thumb-hover));
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient 4s ease infinite;
}
