@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
  }
}

@layer base {
  * {
    @apply m-0 p-0 box-border border-border scroll-smooth;
  }

  body {
    @apply min-h-screen font-inter font-normal text-foreground bg-background;
  }

  section {
    @apply py-4 px-[5vw] md:px-[7vw] xl:px-[1vw];
  }
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .navbar {
    @apply w-full h-[70px] sticky top-0 z-10 flex items-center px-[5vw] py-4 border-b border-border bg-background;
  }

  /* SHADCN COMPONENTS */
  .shad-input {
    @apply h-12 bg-muted border-none placeholder:text-muted-foreground focus-visible:ring-1 focus-visible:ring-offset-1 ring-offset-accent !important;
  }

  .shad-form_message {
    @apply text-destructive !important;
  }

  .shad-textarea {
    @apply h-32 bg-muted rounded-xl border-none focus-visible:ring-1 focus-visible:ring-offset-1 ring-offset-accent !important;
  }
}

@layer utilities {
  /* TYPOGRAPHY */
  .h1-bold {
    @apply text-[30px] md:text-[36px] font-bold leading-[140%] tracking-tighter;
  }

  .h1-semibold {
    @apply text-[30px] md:text-[36px] font-semibold leading-[140%] tracking-tighter;
  }

  .h1-medium {
    @apply text-[30px] md:text-[36px] font-medium leading-tight tracking-tighter;
  }

  .h2-bold {
    @apply text-[28px] md:text-[30px] font-bold leading-[140%] tracking-tighter;
  }

  .h2-semibold {
    @apply text-[28px] md:text-[30px] font-semibold leading-[140%] tracking-tighter;
  }

  .h3-bold {
    @apply text-[24px] font-bold leading-[140%] tracking-tighter;
  }

  .base-semibold {
    @apply text-[16px] font-semibold leading-[140%] tracking-tighter;
  }

  .base-medium {
    @apply text-[16px] font-medium leading-[140%];
  }

  .base-regular {
    @apply text-[16px] font-normal leading-[140%];
  }

  .body-bold {
    @apply text-[18px] font-bold leading-[140%];
  }

  .body-medium {
    @apply text-[18px] font-medium leading-[140%];
  }

  .small-semibold {
    @apply text-[14px] font-semibold leading-[140%] tracking-tighter;
  }

  .small-medium {
    @apply text-[14px] font-medium leading-[140%];
  }

  .small-regular {
    @apply text-[14px] font-normal leading-[140%];
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .hide {
    @apply opacity-0 pointer-events-none duration-100;
  }

  .show {
    @apply opacity-100 pointer-events-auto;
  }

  .h-cover {
    @apply min-h-[calc(100vh-70px)];
  }

  .input-icon {
    @apply absolute top-1/2 -translate-y-1/2 text-muted-foreground;
  }

  .input-box {
    @apply w-[100%] rounded-md p-2 border border-border focus-visible:ring-1 focus-visible:ring-offset-1 ring-offset-accent !important;
  }

  .center {
    @apply block mx-auto;
  }

  /* File uploader */
  .cover-img {
    @apply aspect-video rounded-lg object-cover;
  }

  .file_uploader-label {
    @apply text-muted-foreground text-center small-regular w-full p-2 border-t border-t-border;
  }

  .file_uploader-box {
    @apply flex-center flex-col gap-2 p-7 h-20 sm:h-40 border-b border-border mt-4;
  }
}

/* EditorJS Styles  */
h1.ce-header {
  @apply text-3xl font-bold;
}
h2.ce-header {
  @apply text-2xl font-semibold;
}
h3.ce-header {
  @apply text-xl font-semibold;
}
h4.ce-header {
  @apply text-lg font-semibold;
}
h5.ce-header {
  @apply text-base font-semibold;
}
h6.ce-header {
  @apply text-base font-semibold;
}

.ce-block__content,
.ce-toolbar__content {
  max-width: 900px;
}
