@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;
    --header: 210 20% 98%;
    --header-height: 4.375rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
    --header: 222 49.4% 12.2%;
  }
}

@layer base {
  * {
    @apply m-0 p-0 box-border border-border scroll-smooth;
  }

  ::selection {
    @apply !bg-primary/30 dark:!bg-primary/40;
  }

  body {
    @apply min-h-screen font-inter font-normal text-foreground bg-background;
  }

  section {
    @apply py-20 px-[6vw] md:px-[7vw] lg:px-[10vw];
  }
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .navbar {
    @apply w-full h-[var(--header-height)] fixed top-0 z-50 flex items-center px-[5vw] py-4 border-b border-border bg-header;
  }

  /* SHADCN COMPONENTS */
  .shad-input {
    @apply h-12 bg-muted border placeholder:text-muted-foreground focus-visible:ring-1 focus-visible:ring-offset-1 ring-offset-accent !important;
  }

  .shad-form_message {
    @apply text-destructive !important;
  }

  .shad-textarea {
    @apply h-32 bg-muted rounded-xl border focus-visible:ring-1 focus-visible:ring-offset-1 ring-offset-accent !important;
  }
}

@layer utilities {
  /* TYPOGRAPHY */
  .h1-bold {
    @apply text-[1.875rem] md:text-[2.25rem] font-bold leading-[140%] tracking-tight; /* 30px -> 1.875rem, 36px -> 2.25rem */
  }

  .h1-semibold {
    @apply text-[1.875rem] md:text-[2.25rem] font-semibold leading-[140%] tracking-tight;
  }

  .h1-medium {
    @apply text-[1.875rem] md:text-[2.25rem] font-medium leading-[140%] tracking-tight;
  }

  .h2-bold {
    @apply text-[1.75rem] md:text-[1.875rem] font-bold leading-[140%] tracking-tight; /* 28px -> 1.75rem, 30px -> 1.875rem */
  }

  .h2-semibold {
    @apply text-[1.75rem] md:text-[1.875rem] font-semibold leading-[140%] tracking-normal;
  }

  .h3-bold {
    @apply text-[1.5rem] font-bold leading-snug tracking-tight; /* 24px -> 1.5rem */
  }

  .base-semibold {
    @apply text-[1rem] font-semibold leading-[140%] tracking-tight; /* 16px -> 1rem */
  }

  .base-medium {
    @apply text-[1rem] font-medium leading-[140%];
  }

  .base-regular {
    @apply text-[1rem] font-normal leading-[140%];
  }

  .body-bold {
    @apply text-[1.125rem] font-bold leading-[140%]; /* 18px -> 1.125rem */
  }

  .body-medium {
    @apply text-[1.125rem] font-medium leading-[140%];
  }

  .small-semibold {
    @apply text-[0.875rem] font-semibold leading-[140%] tracking-tight; /* 14px -> 0.875rem */
  }

  .small-medium {
    @apply text-[0.875rem] font-medium leading-[140%];
  }

  .small-regular {
    @apply text-[0.875rem] font-normal leading-[140%];
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .hide {
    @apply opacity-0 pointer-events-none duration-100;
  }

  .show {
    @apply opacity-100 pointer-events-auto;
  }

  .h-cover {
    @apply min-h-[calc(100vh-var(--header-height))];
  }

  .input-icon {
    @apply absolute top-1/2 -translate-y-1/2 text-muted-foreground;
  }

  .input-box {
    @apply w-[100%] rounded-md p-2 border border-border focus-visible:ring-1 focus-visible:ring-offset-1 ring-offset-accent !important;
  }

  .center {
    @apply block mx-auto;
  }

  .sidebar-link {
    @apply flex gap-4 items-center py-2 md:py-5 pb-5 capitalize text-nowrap px-6 -ml-6;
  }

  .sidebar-link.active {
    @apply border-r-2 max-md:border-none border-muted-foreground bg-header px-6 -ml-6 md:rounded-tl-lg md:rounded-bl-lg;
  }

  /* File uploader */
  .cover-img {
    @apply aspect-video w-full h-full rounded-lg object-cover border-[1px] border-border;
  }

  .file_uploader-label {
    @apply text-muted-foreground text-center small-regular w-full p-2 border-t border-t-border;
  }

  .file_uploader-box {
    @apply flex-center flex-col gap-2 p-7 h-20 sm:h-40 border-b border-border mt-4;
  }

  /* Text Editor */
  #text-editor *,
  .blog-page-content * {
    @apply text-base lg:text-xl leading-6 lg:leading-8;
  }

  .quote-caption a {
    @apply !text-sm md:!text-base;
  }

  #text-editor h1,
  .blog-page-content h1 {
    @apply text-3xl font-semibold;
  }

  #text-editor h2,
  .blog-page-content h2 {
    @apply text-2xl font-semibold;
  }

  #text-editor h3,
  .blog-page-content h3 {
    @apply text-xl font-semibold;
  }

  #text-editor h4,
  .blog-page-content h4 {
    @apply text-lg font-semibold;
  }

  #text-editor h5,
  .blog-page-content h5 {
    @apply text-base font-semibold;
  }

  #text-editor h6,
  .blog-page-content h6 {
    @apply text-base font-semibold;
  }

  #text-editor a,
  .blog-page-content a {
    @apply text-primary underline hover:opacity-50;
  }

  #text-editor a:hover,
  .blog-page-content a:hover {
    @apply text-primary underline hover:opacity-100;
  }

  #text-editor img {
    @apply aspect-video rounded-lg object-cover;
  }

  .blog-title {
    @apply font-semibold text-base md:text-lg 2xl:text-xl line-clamp-3 my-2 text-foreground;
  }

  .draft-badge {
    @apply px-2 py-0.5 text-sm md:text-base font-medium bg-yellow-200 text-yellow-800 rounded-md dark:bg-yellow-800 dark:text-yellow-50;
  }
}

.ce-block__content,
.ce-toolbar__content {
  max-width: 900px;
}

.cdx-list {
  padding: 0;
}

.ce-inline-toolbar__dropdown:hover,
.ce-inline-tool:hover,
.ce-popover-item:hover,
.ce-toolbar__plus:hover,
.ce-conversion-tool:hover,
.ce-toolbar__settings-btn:hover {
  background-color: hsl(var(--input)) !important;
}

.ce-conversion-toolbar,
.ce-conversion-tool,
.ce-conversion-tool__icon,
.ce-popover-item__icon,
.ce-inline-tool-input,
.cdx-search-field,
.ce-popover,
.image-tool .cdx-button,
.ce-inline-toolbar {
  background-color: hsl(var(--header)) !important;
}

.ce-inline-toolbar {
  padding: 5px 5px;
}

.ce-inline-toolbar__buttons button {
  margin-left: 5px;
}

.ce-popover-item {
  color: hsl(var(--foreground)) !important;
}

.ce-popover-item--confirmation:hover {
  background-color: hsl(var(--destructive)) !important;
}

.inline-code,
.ce-code__textarea {
  background-color: hsl(var(--input)) !important;
  color: hsl(var(--foreground)) !important;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace !important;
  font-size: medium !important;
  border: none !important;
}

.ce-code__textarea {
  border-radius: 10px !important;
}

.cdx-marker {
  background-color: hsl(65, 64%, 66%) !important;
}

.ce-toolbar__actions {
  gap: 0.3rem;
}

.ce-toolbar__plus,
.ce-toolbar__settings-btn {
  background-color: hsl(var(--header)) !important;
  color: hsl(var(--foreground)) !important;
  border: 1px solid hsl(var(--muted-foreground));
}

.ce-block--selected .ce-block__content {
  background-color: hsl(var(--input)) !important;
}

.cdx-settings-button[data-tune="withBorder"],
.cdx-settings-button[data-tune="withBackground"],
.cdx-settings-button[data-tune="stretched"] {
  display: none;
}

.cdx-quote__caption span {
  background-color: hsl(var(--primary)) !important;
  color: hsl(var(--foreground)) !important;
  opacity: 60%;
}

/* 
   Ensures the placeholder text appears inside empty header blocks 
   while maintaining EditorJS's default styling.
*/
.ce-header[data-placeholder]:empty::after {
  display: block;
  content: attr(data-placeholder);
  opacity: 0.4;
  font-weight: initial;
  pointer-events: none;
}

/* Hides any default placeholder behavior added by EditorJS to avoid duplication. */
.ce-header[data-placeholder]:empty::before {
  display: none !important;
}

@keyframes heart-bounce {
  40% {
    transform: scale(1.1);
  }
  0%,
  80%,
  100% {
    transform: scale(1);
  }
}

.like-animation {
  animation: heart-bounce 0.4s ease-in-out;
}

/* WebKit Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: hsl(var(--header));
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--input));
  border-radius: 10px;
  border: 1px solid hsl(var(--popover));
}
