<!DOCTYPE html>
<div
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding: 20px;
    background-color: #fff;
  "
>
  <div
    style="
      font-family: Arial, sans-serif;
      line-height: 1.6;
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 40px;
      background-color: #fff;
      max-width: 600px;
      /* text-align: center; */
    "
  >
    <h2>Welcome to <span style="color: #7c3aed">BlogSphere 👋</span></h2>
    <p>
      We're excited to have you on board. 🥳 <br />Please confirm your email
      address by clicking the link below to complete your registration.
    </p>

    <p>
      <a
        href="<%= verificationLink %>"
        style="
          background-color: rgba(124, 58, 237, 0.8);
          border-radius: 5px;
          color: #fff;
          display: inline-block;
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
            'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
            'Helvetica Neue', sans-serif;
          font-size: 16px;
          font-weight: 500;
          line-height: 50px;
          text-align: center;
          text-decoration: none;
          width: 200px;
        "
        >Verify Your Email Address</a
      >
    </p>
    <p>
      Alternatively, you can copy and paste this URL into a new tab in your
      browser:<br /><%= verificationLink %>
    </p>
    <p style="margin-top: 20px; color: #555">
      <strong>Please note:</strong> This verification link will expire on <%=
      tokenExpiresAt %>. If you do not verify your email by then, you may need
      to request a new verification link.
    </p>

    <p style="margin-top: 20px; color: #555; font-size: 14px">
      If you did not sign up for a Blogsphere account, you can safely ignore
      this email.
    </p>
    <p style="margin-top: 20px; font-size: 14px">
      Best regards,<br />The BlogSphere Team 😊
    </p>
  </div>
</div>
